html, body {
  margin:0;
  padding:0;
}
.search-wrap {
  width:215px;
  margin:0 auto 30px auto;
}
.gif-container {
  margin:0;
  padding:0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.gif-container__gif-img {
  display: block;
  width:100%;
  object-fit: cover;
  width: 300px;
}
