html, body {
  margin:0;
  padding:0;
}
.search-wrap {
  width:215px;
  margin:0 auto 30px auto;
}
.gif-container {
  margin:0;
  padding:0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gif-container__gif-img {
  display: block;
  width: 300px;

}
.gif-container li {
  box-sizing: border-box;
  margin-right: 4px;
}
.gif-container__gif-item6 {
  margin-right: 0;
}
.lazy-load-image-background  {

  background-color: black;
}